<div class="container-fluid">
  <div class="modal-header">
    <h1>|TDF |</h1>
  </div>

  <form #userData="ngForm">

    <div class="form-group">
      <label>NAME</label>
      <input type="text" class="form-control" placeholder="ENTER YOUR NAME" required [(ngModel)]="user.name" name="n1"
        #name="ngModel" pattern="[a-zA-Z ]*" [class.is-invalid]="name.invalid && (name.dirty ||name.touched)">

      <section *ngIf="name.invalid && (name.dirty ||name.touched)">
        <small class="text-danger" *ngIf="name.errors?.['required']">Name is Required</small>
        <small class="text-danger" *ngIf="name.errors?.['pattern']">Name is invalid.....</small>
      </section>
    </div>

    <div class="form-group">
      <label>EMAIL</label>
      <input type="email" class="form-control" placeholder="ENTER YOUR EMAIL" required [(ngModel)]="user.email"
        name="e1" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        [class.is-invalid]="email.invalid && (email.dirty ||email.touched)">

      <section *ngIf="email.invalid && (email.dirty ||email.touched)">
        <small class="text-danger" *ngIf="email.errors?.['required']">email is Required</small>
        <small class="text-danger" *ngIf="email.errors?.['pattern']">email is invalid.....</small>
      </section>
    </div>

    <div class="form-group">
      <label>PHONE</label>
      <input type="number" #phone="ngModel" pattern="^[0-9]{10}$"
        [class.is-invalid]="phone.invalid && (phone.dirty ||phone.touched)" [(ngModel)]="user.phone"
        class="form-control" name="p1" placeholder="ENTER YOUR PHONE" required>
      <section *ngIf="phone.invalid && (phone.dirty ||phone.touched)">
        <small class="text-danger" *ngIf="phone.errors?.['required']">phone is Required</small>
        <small class="text-danger" *ngIf="phone.errors?.['pattern']">phone is invalid.....</small>
      </section>
    </div>

    <div class="form-group">
      <label>ENTER YOUR PASSWORD</label>
      <input [type]="show ? 'text' :'password' " class="form-control" name="pa1" placeholder="ENTER YOUR PASSWORD"
        required [(ngModel)]="user.pas1" #pas1="ngModel">
      <section>
        <button class="btn btn-sm btn-info" (click)="password()">{{show ? 'Hide' :'Show'}}</button>
      </section>
    </div>

    <div class="form-group">
      <label>ENTER YOUR CONFIRM PASSWORD</label>
      <input type="text" class="form-control" name="pa2" placeholder="ENTER YOUR CONFIRM PASSWORD" required #pas2
        (keyup)="checkpass(pas1,pas2)" [class.is-invalid]="mismatchpassError">
      <section *ngIf="mismatchpassError">
        <small class="text-danger">Password did't matched....!</small>
      </section>
    </div>

    <div class="form-group">
      <button class="btn btn-sm btn-success" [disabled]="userData.invalid||mismatchpassError"
        (click)="OnSubmit(userData)">SUBMIT</button>
    </div>
  </form>
</div>

<hr>
<hr>
<app-template-driven-from></app-template-driven-from>

<app-extra></app-extra>